.speech{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana ;
    font-size:19px;
    color:black;
    }
    .name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    }
    .direction{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: #ACDDDE;
    color:black;
    }
    .direction:hover{
        background-color: #5928E5;
        color:white;

    }
    .Zara{
        color: #5928E5;
        }
        .Fitt{
        color: #A57C00;
        }
        .Lord D{
        color: darkgreen;
        }
        .king{
        color: purple;
        }
        .Phantis{color: orangered;
        }
        .Scaphio{
        color: #583270;
        }
            .Chorus{
            
        color: #B3B6E3;
        font-weight: bolder;
        font-size: 25px;
        }
        table,th,td{
            margin: 1px solid #ddd;
            border-collapse: collapse;
            width: 50%;
        }
        td{
            padding: 8px;
          }
          tr:nth-child(even){background-color:#ddd;}
        
        th {
            padding: 12px;
            text-align: left;
            background-color:aquamarine;
            color: white;
          }
          .name:hover{
            border:2px solid black;
            text-shadow: 5px 6px 10px blue; 
            
          }
          .name{
            padding: 5px;
          }
         